<p>customer-list works!</p>
<h3>Danh sách Nhóm Khách Hàng</h3>
<table border="1">
    <thead>
        <tr>
            <th>Mã Loại KH</th>
            <th>Tên Loại KH</th>
        </tr>
    </thead>
    <tbody *ngFor="let group of customerGroups">
        <tr style="background-color: #f2f2f2; font-weight: bold;">
            <td>{{ group.CustomerTypeId }}</td>
            <td>{{ group.CustomterTypeName }}</td>
        </tr>
        <tr>
            <td colspan="2">
                <table border="1" width="100%">
                    <thead>
                        <tr>
                            <th>Mã KH</th>
                            <th>Tên KH</th>
                            <th>Email</th>
                            <th>Tuổi</th>
                            <th>Hình ảnh</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cus of group.Customers">
                            <td>{{ cus.Id }}</td>
                            <td>{{ cus.Name }}</td>
                            <td>{{ cus.Email }}</td>
                            <td>{{ cus.Age }}</td>
                            <td>
                                <img [src]="cus.Image" width="50" alt="avatar">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>